# Eclipse
.metadata/
.recommenders/
.settings/
.project
.classpath
bin/

# Java
*.class
*.jar
*.war
*.ear
target/

# macOS
.DS_Store

# IntelliJ IDEA
.idea/
*.iml

# Logs
*.log

# Environment variables
.env
.env.local
.env.production
.env.staging
.env.test
*.env